* {
    padding: 0;
    margin: 0;
}

#scroll-container{
    position: absolute;
    position: fixed;
    opacity: .6;
    height: 125px;
    width: 40px;
    background-color: white;
    align-self: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 1.5%;
  /*  background: linear-gradient(to top, #ffffff 50%, #c42929 50%); */
}

#progress{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #c42929;
    text-align: center;
    line-height: 30px;
    color: white;
} 

html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: "montserrat";
}

body{
    
}

/* ---------------------- HEADER ----------------------------*/

header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.37) ,rgba(0, 0, 0, 0.37)),url("energies2.png"); /* rgba(77, 3, 3, 0.082) */
    height: 100vh;
    background-position: center;
    background-size: cover;

}



.header{
    font-size: 105%;
     top: 31%;
    left: 19%;
    
}

h2{
    font-weight: 600;
    font-weight: bold;
    font-size: 1.9em;
    padding: 15px;
    margin: 100px auto;
    color: #426f8b;
}

h2:after{
    content: " ";
    height: 2px;
    width: 175px;
    background-color: #a12121;
    display: block;
    margin: 20px auto;
}

.intro-text{
    position: absolute;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 110%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-shadow: 2px 2px 8px 8px #1e4b68;
  
}


h2:after{
   content: " ";
   background-color: black;
   width: 100px;
   height: 2px;
   position: relative;
}

#border-btm{
    content: " ";
    background-color: white;
    width: 350px;
    height: 2px;
    margin-left: calc(50% - 175px);
    margin-top: 5px;
}


/* ---------------------- NAV ----------------------------*/


.main-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: white; 
    /*#a12121*/
    margin: 0;
    list-style-type: none;  
    overflow: hidden;
    height: 85px;    
    position: fixed;
    width: 100%;
    font-size: 90%;
    opacity: 0.8;
    transition: opacity 0.5s;
 /*   border: 1px solid white; */
}

.main-nav li:nth-of-type(5){
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 50px;
    
}

.main-nav:hover{
    opacity: 1;
}

#c{
    color: red;
}

#show-option{
    color: black;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 15px;
    display: none;
    cursor: pointer;
    position: fixed;
    text-shadow: 2px 2px 1px #000;
}

#show-option:hover{
    text-shadow: 2px 5px 2px #000;
}

#hide-option{
    color: white;
    cursor: pointer;
    transition: font-size 0.3s ease-out;
}

#hide-option:hover{
    font-size: 110%;
}



.main-nav:hover{
    opacity: 1;
}

.main-nav li{
    list-style: none;
    float: right;
    margin-top: 23px;   
    padding: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
}



.main-nav a{
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: black;  
    border-bottom: 2px solid rgba(255, 255, 255, 0); 
    transition: border 0.3s, transform 0.3s; 
}

.main-nav a:hover{
    transform: translateY(-2px);
    border-bottom: 2px solid rgb(0, 0, 0); 
}

.main-nav img{
    float: right;
    width: 60px;
    padding: 10px;
}


.header-wrap{
    display: flex;
 
}

.header-intro{
    width: 95%;
    font-size: 30px;
    font-weight: 400; 
    color: white;
    display: flex;
    flex-direction: row;
   /* background-color: rgba(128, 128, 128, 0.418); */
   /* border: 2px solid white; */
    justify-content: center;
    justify-content: space-between;
    align-items: center;   
    height: 100vh;
    flex-wrap: wrap;
    width: 100vw;
}
.header-intro>div{
 /* border: 1px solid black; */
}

.tips{
    margin: 40px;
    align-items: center;
    opacity: .8;
    transition: opacity 0.5s, transform 0.5s;
}

.tips img{
    opacity: .5;
    padding: 15px;
    margin-bottom: 20px;
}

.tips:hover{
    opacity: 1;
    transform: scale(1.05);

}


/* ---------------------- LOGO & IMG ----------------------------*/

#logo{
    transition: transform 0.3s ease-out;
}

#logo:hover{
   transform: scale(1.15);
}




#love-img{
    opacity: .7;
}

.elect-container{    
    display: flex;
}


#qm-img{
    position: absolute;
    left: 98%;
    width: 30px;
    top: 20%;
}


.intro-container{
   height: 100%;

 /*  border: 5px solid rgb(161, 23, 23); */

   border-radius: .5em;
   display: flex;  
   align-items: center;
   justify-content: center;
   flex-direction: column;  
   line-height: 35px;   
}



.row{
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.541);
  /*  border: 2px solid black; */
    width: 75%;
    margin-top: 30px;   
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px;
    color: #1e4b68;
    transition: background 0.5s;
}

.row:hover{
    background-color: rgb(255, 255, 255, .8);
}

#elect-img{
    position: absolute;
    left: 20%;
    top: 120%;
}

.main{

    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("background-intro.jpg");
    background-position: center;
    background-size: cover;
}


#kenny-logo
{
    position: fixed;
 
    opacity: .8;
   
    
    width: 300px;
    padding: 1px;
}


#kenny-logo:hover{
    opacity: 1;
    
}

 /* ------------------------------------------------------------ */


.section-features {
    margin-bottom: 50px;
}

.section-features a{
    text-decoration: none;
}

#frequencies-wraper img{
    display: block;
    margin: 0 auto;
    width: 40%;
}

.others-section {
    padding: 0;
  
}

.others-showcase{
    list-style: none;
    width: 100%;
}

.others-showcase li{
    display: block;
   float: left;
    width: 25%;
}

.others-photo{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #000;    
    transition: all 0.4s ease-in-out;
}

.others-photo:hover h5{ 
    opacity: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.others-photo:hover p{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.others-photo:hover{ 
    cursor: pointer;
  
}

.others-photo p{
    position: absolute;
    color: white;   
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    text-align: center;
    width: 300px;
    opacity: .8;
   opacity: 0;
    transition: all 0.4s ease-in-out;
}


.others-photo img{
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;

}

.others-photo:hover img{
    transform: scale(1.03);
    opacity: .8;
    cursor: pointer;    
}
/*
h5:not(:hover){
    color: red;
}
*/
.hz{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("hzimg.jpg");      
}


.chaks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("chakrasimg.jpg");
}

.dim{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("dimensionimg.jpg");
    }

.psych{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("psychicimg.jpg");
}




.box{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 6px;
    height: 350px;
    padding: 2%;
    display: block;
    transition: transform 0.5s, opacity 0.5s;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.box img{
    background-color: black;
}

.box:hover{
    background-color: rgba(247, 0, 0, 0.8);  
    transform: translateY(-15px) scale(1.05);
    cursor: pointer;
    opacity: 1;
    
}

.box:hover h3 {
    color: yellow;
    font-size: 130%;
}


.box p{
    font-size: 90%;
    line-height: 145%;
    color: white;
    text-align: justify; /* For Edge */  
    letter-spacing: 1px;
   
}